@import '../variables.scss';

.footer-divider {
	margin-bottom: 1.25rem;
}

.footer-content {
	text-align: center;
}

.footer-icons {
	font-size: 1.3rem;
}

.footer-icon-link {
	margin: 10px;
}

.footer-text {
	font-size: 0.85rem;
}
